@page
@model lab_44_asp_entity_core.Pages.ToDoListModel
@{
    ViewData["Title"] = "ToDoList";
}

<h2>ToDoList</h2>

<table class="table table-bordered table-striped table-hover table-responsive">
    <thead>
        <tr>
            <td>ID</td>
            <td>To Do</td>
            <td>Date Created</td>
        </tr>
    </thead>
    <tbody>
        <tr>
           
        </tr>
    </tbody>
</table>

